<div style="background-image: url(/assets/home/background_2.jpg); width: 100%; height: 400px; position: relative;
top: -1px;">

    <div class="container">
        <div class="jumbotron jumbotron-fluid" style="text-align: center; padding-top: 80px;">


            <h1 class="display-5" style="color: white;">Thank you for flying with us</h1>

            <div class="lead" style="
                background-color: white;
                border-radius: .5rem;
                background: rgba(255,250,250, 0.8);">
                <div class="row">
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                    <div class="col-sm">
                        One of three columns
                    </div>
                </div>
                <div class="row" style="padding-bottom: 9px; padding-left: 10px;">
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="InputDeparture" value="Athens (ATH)">
                        <label for="InputDeparture" style="margin-left: 10px;">Departure</label>
                    </div>
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="InputDestination" value="Tokyo (TYO)" >
                        <label for="InputDestination" style="margin-left: 10px;">Destination</label>
                    </div>
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="InputDepartureDate" value="08/08/2023">
                        <label for="InputDepartureDate" style="margin-left: 10px;">Departure date</label>
                    </div>
                    <div class="col form-floating">
                        <input type="text" class="form-control" id="InputReturnDate" value="15/08/2023">
                        <label for="InputReturnDate" style="margin-left: 10px;">Return date</label>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" style="padding: 15px;">Search flights</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
