
<form style="padding-left: 5px; padding-right: 5px;">
    <div class="mb-3">
        <label for="signInEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="signInEmail" #signInEmail value="">
        <a href="#" class="wg-identity-link" (click)="GoToSignUp();"> Don't have an account?</a>
    </div>
    <div class="mb-3">
        <label for="signInPassword" class="form-label">Password</label> 
        <input type="password" class="form-control" id="signInPassword" #signInPassword value="">
        <a href="#" class="wg-identity-link" (click)="GoToSSPR();"> Forgot password?</a>
    </div>
    <span style="color: red; display: block; padding-bottom: 10px;">{{errorMessage}}</span> 
    <a style="color: red; margin-top: -10px; margin-bottom: 15px; display: block;" href="#" *ngIf="showSignUpLink" (click)="GoToSignUp();"> Click here to create a new account.</a>
    <a style="color: red; margin-top: -10px; margin-bottom: 15px; display: block;" href="#" *ngIf="showOtpLink" (click)="GoToOTP();"> Click here to sign-in wiht email and passcode.</a>
    <button type="submit" class="btn btn-primary" (click)="PasswordLogin_1_Initiate();">Sign in</button> 

    <div class="login-status" *ngIf="loginStarts">
        <mat-spinner [diameter]="25" style="display: inline-block;"></mat-spinner>
    </div>
    
</form>
