/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/***** Header navigation bar ****/
nav {
  background-color: #003049 !important;
  color: white !important;
}

.bi-airplane::before {
  rotate: 30deg;
}

#SeachFlights {
  min-height: 57px;
}

@media (max-width: 1200px) {
  #SeachFlights {
    padding: 0;
  }
}




/****** Cards ************/
.wg-card-image {
  background-repeat: no-repeat;
  width: 100%;
  height: 220px;
  border-bottom-color: red;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.wg-card-body {
  padding: 0;
  background-color: #f9f9f9;
}

.wg-card {
  border-style: none;
  height: 500px;
  margin-bottom: 50px;
}

.wg-card-content {
  padding: 15px;
}

.wg-card-title {
  padding-top: 15px;
}

/****** Login overlay **********/
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .32) !important;
}

.mat-mdc-tab-header-pagination {
  display: none !important;
}

.mdc-tab-indicator--active {
  border-bottom-color: var(--bs-orange) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 5px !important;
}

.mdc-tab-indicator{
  visibility: hidden!important;
}

.wg-identity-link{
  color: gray;
  font-size: smaller;
  text-decoration: none;
}

.wg-user-display-name{
  border-bottom-color: var(--bs-orange) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
}