<button class="btn btn-link" style="color: white; text-decoration: none;" (click)="isOpen = !isOpen" cdkOverlayOrigin
  #trigger="cdkOverlayOrigin">
  <!-- The condition on the next line should be changed to user identity -->
  {{isOpen ? "Login" : "Login"}}
</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayOffsetX]="-100" [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="isOpen = false">
  <div class="example-overlay" style="background-color: white;
     border-style: solid;
     border-width: 1px;
     border-color: gray;
     min-width: 300px;
     min-height: 300px;
     padding: 20px;">

    <div style="display: flex;
              align-items: center;
              justify-content: space-between;
              padding-bottom: 15px;">
      <h4>Login</h4>
      <button type="button" class="btn-close btn-close-black" aria-label="Close" (click)="isOpen = !isOpen"></button>
    </div>

    <form>
      <div class="mb-3">
        <label for="signInEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="signInEmail" #signInEmail value="">
      </div>
      <div class="mb-3">
        <label for="signInPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="signInPassword" #signInPassword value="">
      </div>
      <button type="button" class="btn btn-primary" (click)="PasswordLogin_1_Initiate()">Sign in</button>
    </form>
  </div>
</ng-template>