<button class="btn btn-link" style="color: white; text-decoration: none;" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <!-- The condition on the next line should be changed to user identity -->
    {{isOpen ? "Login" : "Login"}} 
 </button>

 <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
 [cdkConnectedOverlayOffsetX]="-100">
    <div class="example-overlay"  style="background-color: white;
     border-style: solid;
     border-width: 1px;
     border-color: gray;
     min-width: 300px;
     min-height: 300px;
     padding: 20px;">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="button" class="btn btn-primary" (click)="Login()">Sign in</button>
      </form>
 </div>
 </ng-template>
