<app-home-jumbotron></app-home-jumbotron>


<div class="container" style="padding-top: 30px;">
  <h2 style="text-align: center; padding-bottom: 20px;">Find our offers</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="card wg-card">
        <div class="card-body wg-card-body">
          <div class="wg-card-image" style="background-image: url(/assets/home/india.png);"></div>

          <div class="wg-card-content">
            <h5 class="card-title wg-card-title">India</h5>
            <p class="card-text">Book your next flight from Munich, Germany, to India with our
              special offers and earn travel rewards. New Delhi is one of the world's top tourist destination cities. A
              city that never sleeps.
              Experience the luxury shopping centres and malls compete with the street bazaars and markets.</p>
            <a href="#" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card wg-card">
        <div class="card-body wg-card-body">
          <div class="wg-card-image" style="background-image: url(/assets/home/uae.png);"></div>
          <div class="wg-card-content">
            <h5 class="card-title wg-card-title">United Arab Emirates</h5>
            <p class="card-text">Discover the best things in Dubai, from attractions to restaurants and experiences.
              Beautiful sandy beaches, most popular attractions and experiences like no other. Dubai is the fourth most
              visited city on Earth and a leading tourist destination by any contemporary standard.
            </p>
            <a href="#" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card wg-card">
        <div class="card-body wg-card-body">
          <div class="wg-card-image" style="background-image: url(/assets/home/uk.png);"></div>
          <div class="wg-card-content">
            <h5 class="card-title wg-card-title">United kingdom</h5>
            <p class="card-text">Discover a country filled with fairy-tales castles, iconic landmarks, world-class
              museums, royal parks and vibrant modern
              cities. bursting with unforgettable experiences to share.
              <br>
            Book now and get free and easy 48 hours cancellation.
          </p>
            <a href="#" class="btn btn-primary">Book now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px;">
  App version: 1.0.0.3
</div>