<form style="padding-left: 5px; padding-right: 5px;"  *ngIf="step == 1">
    <div class="mb-3">
        <label for="attEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" required id="attEmail" #attEmail value="">
        <a href="#" class="wg-identity-link" (click)="GoToSignIn();"> Already have an account?</a>
    </div>
    <div class="mb-3">
        <label for="attPassword" class="form-label">Password</label> 
        <input type="password" class="form-control" id="attPassword" #attPassword value="">
    </div>
    <div class="mb-3">
        <label for="attReEnterPassword" class="form-label">Re-enter password</label> 
        <input type="password" class="form-control" id="attPassword" #attReEnterPassword value="">
    </div>
    <div class="mb-3">
        <label for="attDisplayName" class="form-label">Display name</label> 
        <input type="text" class="form-control" id="attDisplayName" #attDisplayName value="">
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" [ngModelOptions]="{standalone: true}" [(ngModel)]="isPolcyChecked" id="attPolicy" required value="True">
        <label for="attPolicy" style="padding-left: 10px;" class="form-check-label">I have read and agree to the <a href="https://woodgrovedemo.com/tos" target="_blank">terms of use</a> and the <a href="https://woodgrovedemo.com/Privacy" target="_blank">privacy policy</a></label> 
    </div>
    <div class="mb-3">
        <div class="alert alert-danger" [innerHTML]=errorMessage *ngIf="errorMessage != ''">
            
        </div>
        
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="SignUpStart();">Next</button> 

    
    <div class="login-status" *ngIf="loginStarts">
        <mat-spinner [diameter]="25" style="display: inline-block;"></mat-spinner>
    </div>
</form>

<form style="padding-left: 5px; padding-right: 5px;"  *ngIf="step == 2">
    <div class="mb-3">
        <label for="attOTP" class="form-label">Enter code</label>
        <input type="email" class="form-control" id="attOTP" #attOTP value="">
    </div>
    <span style="color: red; display: block; padding-bottom: 10px;">{{errorMessage}}</span>
    <button type="submit" class="btn btn-primary" (click)="SignUpVerifyOOB();">Validate and create</button> 

    <div class="login-status" *ngIf="loginStarts">
        <mat-spinner [diameter]="25" style="display: inline-block;"></mat-spinner>
    </div>
</form>


